@import "tailwindcss";

@theme {
  --color-primary-gradient: linear-gradient(
    90deg,
    rgba(239, 61, 56, 1) 0%,
    rgba(248, 154, 50, 1) 100%
  );
  --color-secondary: #0e0e0e;
  --color-tertiary: #7c7c7c;
  --color-white: #ffffff;
  --color-gray: #e9e9e9;
  --color-light-gray: #d5d7da;
  --color-input-background: #f8fafc;
  --color-light-blue-outline: #eaf0f7;
}

.bg-primary-gradient {
  background: var(--color-primary-gradient);
}
